
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Black background */
    color: #fff; /* White text color */
}

.nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Add transition for smooth color change */
}

.nav a:hover {
    color: #ff6b6b; /* Pink color on hover */
}

/* Navigation */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #272424; /* Pink navbar background */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-image img {
    max-width: 50px;
    height: auto;
}

.navbar-header-text {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav li {
    margin: 0 15px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

/* Welcome Section */
#welcome-section {
    background-color: #ff6b6b; /* Pink background */
    color: #fff; /* White text color */
    padding: 100px 0;
    text-align: center;
}

.myname{
    font-size: 40px;
    font-weight: bold;
}

/* Projects Section */
#projects {
    background-color: #111; /* Black background */
    color: #fff; /* White text color */
    padding: 100px 0;
    text-align: center;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.project {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.project img {
    max-width: 100%;
    height: calc(100% - 6.8rem);
    border: 1px solid #ff6b6b; /* Pink border */
    border-radius: 5px;
    transition: transform 0.3s;
}

.project img:hover {
    transform: scale(1.1);
}

.show-github {
    display: block;
    margin-top: 20px;
}

/* Contacts Section */
#contacts {
    background-color: #ff6b6b; /* Pink background */
    color: #fff; /* White text color */
    padding: 100px 0;
    text-align: center;
}

.contact-section-header-text {
    margin: 0;
}

.contact-section-header-p {
    margin-top: 10px;
}

.contact-section-link {
    margin-top: 30px;
}

.btn-contact-details {
    display: inline-block;
    padding: 10px 20px;
    background-color: #111; /* Black background */
    color: #ff6b6b; /* Pink text color */
    border: 1px solid #ff6b6b; /* Pink border */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-contact-details:hover {
    background-color: #b3b3b3; /* Pink background */
    color: #222222; /* White text color */
}

/* Footer */
footer {
    background-color: #111; /* Black background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul {
        margin-top: 10px;
    }

    .project-grid {
        gap: 20px;
    }
}
